body {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
}

.header-container {
  background-color: black;
  height: 65px;
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar {
  color: lightgray;
  font-weight: bold;
  font-size: large;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}

.first-column {
  width: 150px;
}

.about-block {
  background-color: whitesmoke;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.left-title {
  font-style: italic;
  margin-bottom: unset;
}

.archives-list {
  list-style: none;
  margin-top: 15px;
  padding: 0;
}
