body {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
}

.header-container {
  background-color: black;
  height: 65px;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.navbar {
  color: lightgray;
  font-weight: bold;
  font-size: large;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.first-column {
  width: 150px;
}

.about-block {
  background-color: whitesmoke;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.left-title {
  font-style: italic;
  margin-bottom: unset;
}

.archives-list {
  list-style: none;
  margin-top: 15px;
  padding: 0;
}

.center-column {
  position: relative;
  width: 70%;
  height: 100%;
}

.card-1 {
  margin-top: 10px;
  width: 300px;
  height: fit-content;
  border: 1px solid lightgray;
}

.thumbnail {
  width: 300px;
  height: 120px;
  border-bottom: 1px solid lightgray;
}

.article-1-block {
  margin: 10px;
}

.article-title {
  font-weight: bolder;
  margin-bottom: 0px;
}

.article-text {
  font-size: medium;
  font-family: Arial;
  margin-bottom: 20px;
}

.details-button {
  border-style: none;
  background-color: transparent;
  padding: 0;
  color: cornflowerblue;
}

.card-1:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
}

.last-column {
  width: 300px;
  align-self: center;
}

.sign-in {
  background-color: whitesmoke;
  width: 220px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.input-box {
  align-self: center;
  justify-content: center;
  padding-left: 30px;
  margin-bottom: 10px;
}

.sign-in-input-box {
  border: 1px solid lightgray;
  align-self: center;
  height: 30px;
}

.sign-in-input-box:first-of-type {
  border-bottom: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.sign-in-input-box:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sign-in-checkbox {
  margin-bottom: 15px;
}

.sign-in-button {
  width: 160px;
  border-style: none;
  background-color: cornflowerblue;
  color: whitesmoke;
  border-radius: 4px;
}
